<!-- SECTION 3: SKILLS -->
<section class="skills-section">
    <h2>Skills</h2>
    <div class="skill-categories">
        {% for category in site.data.skills %}
        <div class="skills-card">
            <span class="category-label">{{ category.name }}</span>
            <div class="skills-list">
                {% for item in category.items %}
                <span class="skill">{{ item }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
