---
layout: wrapper
---

<div class="post-view">
    <div class="summary">
        
       
        {% assign folder_path = page.path | split: "/" | slice: 0, 2 | join: "/" %}
        {% assign image_path = "/" | append: folder_path | append: page['main-image'] %}       
        <img src="{{ image_path }}" alt="{{ page.title }} image" style="width: 100%; height: auto; max-height: 60vh; object-fit: contain; display: block; margin: 0 auto 20px auto;">
        
    <div class="title-header" style="display: block; width: 100%; clear: both;">
