---
layout: wrapper
---

<div class="post-view">
    <div class="summary">
        
       
        {% assign folder_path = page.path | split: "/" | slice: 0, 2 | join: "/" %}
        {% assign image_path = "/" | append: folder_path | append: page['main-image'] %}       
        <img src="{{ image_path }}" alt="{{ page.title }} image">
        
    <div class="title-header" style="display: block; width: 100%; clear: both;">
      <div style="display: block; width: 100%; clear: both;">
            <h1 style="display: inline-block; margin-bottom: 0;">{{ page.title }}</h1>
      </div>
  
        {% if page.subtitle %}
        <div style="display: block; width: 100%; clear: both; margin-top: 4px;">
          <p class="project-subtitle" style="margin: 0; font-size: 1rem; color: #555;">
            {{ page.subtitle }}
          </p>
        </div>
          {% endif %}
    </div>


        
        <div class="project-description">
            <h2>Project Overview</h2>
            <p>{{ page.description }}</p>
        </div>
        <div class="skills-card">
            <h2>Skills Used</h2> 
            <div class="skills-list">
                {% for skill in page.skills %}
                <span class="skill">{{ skill }}</span>    
                {% endfor %}
            </div>
        </div>
    </div>
      
    <div class="content">
        {{content}}
    </div>
</div>

